/*
    Classic Taxi
    Layout Style Sheet
    <!--
     Tutorial
     Kaitlin Stephens
     012/05/2015
   -->
*/

/* body */

body {
      background-color: gray;
      font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

/* links */
a {
    color: navy;
    font-size: 1.5em;
    text-decoration: none;
}

/* Heading styles */

h1 {
    background-color: orange;
    color: black;
    font-size:2.5em;
    text-align: center;
    text-transform: uppercase;
    word-spacing: .5em;
}

/* paragraph */

p {
    color: maroon;
    line-height: 1.5em;
    text-indent: 3em;
}

/* footer */

footer {
    color: maroon;
    background-color: white;
    font-size: .7em;
    text-align: center;
}

h2 {
      background-color: khaki;
      color: white;
}
