/*
    Classic Taxi
    Layout Style Sheet
    <!--
     Tutorial
     Kaitlin Stephens
     012/05/2015
   -->
*/

/* body */

body {
      text-align: center;
      color: black;
      font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
      background-color: #FDF3E7;
      border-style: groove #C63D0F;
}

/* links */
a {
    color: #FDF3E7;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    background-color: #3B3738;
}

/* Heading styles */

h1 {
    color: black;
    font-size:2em;
    text-align: center;
    word-spacing: .5em;
    }

/* paragraph */

p {
    color: black;
    line-height: 1em;
    text-indent: 2em;
    font-size: 1em;
    text-align: center;
}


h2 {
      color: black;
      font-size: 1em;
      text-align: center;
}

h3 {
      color: black;
      font-size: 1.5em;
      text-align: center;
}

#left_col {
   float:left;
   width:300px;
  }

#right_col {
   float:right;
   width:300px;
}


#container {
  width: 800px ;
}
#content {
  margin-left:  200px;
}
#navbar {
  float: left;
  width: 200px;
}

/* footer */

footer {
    color: #fdf3e7;
    background-color: #7E8F7C;
    font-size: .7em;
    text-align: center;
}
