/*
    Classic Taxi
    Layout Style Sheet
    <!--
     Tutorial
     Kaitlin Stephens
     012/05/2015
   -->
*/

/* body */

body {
      color: black;
      background-color: white;
      font-family: Verdana, sans-serif;
}

/* links */
a {
    color: green;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
}

/* Heading styles */

h1 {
    background-color: white;
    color: black;
    font-size:2em;
    text-align: center;
    word-spacing: .5em;
    }

/* paragraph */

p {
    color: maroon;
    line-height: 1em;
    text-indent: 2em;
    font-size: 1em;
}

span {
    background-color: white;
    color: navy;
    font-size:1em;
    float: right;
    word-spacing: .5em;
    }

h2 {
      background-color: white;
      color: black;
      font-size: 1em;
}

h3 {
      background-color: white;
      color: black;
}

#left_col {
   float:left;
   width:300px;
}
#right_col {
   float:right;
   width:300px;
}

/* footer */

footer {
    color: black;
    background-color: white;
    font-size: .7em;
    text-align: center;
}


/*margins, columns/*

#pageWrapper {
    margin: 0 auto;
    position: relative;
    width: 90%; /*set to 100% or smaller or fixed width... */
    height: 100%;
}
header {
    display:block;
    width: 100%;
    height: 100px;
    background: yellow;
}
#contentWrapper {
    width: 100%;
    position: absolute;
    top: 100px;
    bottom: 100px;
    left: 0;
    background: beige;
}
#footerWrapper {
    width: 100%;
    position: absolute;
    height: 100px;
    bottom: 0px;
    left: 0;
    background: gray;
}
.table-wrap {
    width: 100%;
    height: 100%;
}
.table-wrap .cell {
    height: 100%;
}
.table-wrap .col1 {
    float: left;
    border: 1px dotted blue;
    max-width: 80%; /* This is critical or else Column 2 can disappear */
}
.table-wrap .col1 .content {
    height: inherit;
    display: inline-block;
    overflow-y: auto;
}
.table-wrap .col2 {

}
.table-wrap .col2 .content {
    height: inherit;
    overflow-y: auto;
}
